
.fooder-col{
    color: #5D5D5D;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        padding: 10px;
        line-height: normal;
}
.fooder-login{
    color: #0E42C8;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
}
#fooder-getherly-logo{
    width: 220px;
    height: 97px;
    background: url("../../../assert/getherlyFooder.png"), lightgray 50% / cover no-repeat;        
}
